:root {
    margin: 0;
    padding: 0;
  }

.footer {
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px; /* Adjusted height */
  }

  .flex {
    display: flex;
    align-items: flex-end;
    padding-top: 5%;
    justify-content: center;
    gap: 10px;
    
  }