@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&family=Outfit:wght@100..900&display=swap" rel="stylesheet');
@font-face {
    font-family: Cardo;
    src: url(./fonts/Cardo-Regular.ttf);
  }
  @font-face {
    font-family: Outfit;
    src: url(./fonts/Outfit.ttf);
  }
  @font-face {
    font-family: Christmas;
    src: url(./fonts/Christmas.ttf);
  }
#name{
    margin-left: 80px;
    font-family: "Mountains of Christmas";
    font-weight: 700;
    font-size: 140px;
    float: inline-start;
    color: rgb(139, 204, 204)
    

}
#navbar{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    float: right;
    
    
}   

#navbar li{
    list-style: none;
    padding: 0 60px;
    position: relative;
    border: 10px solid rgb(139, 204, 204);
    background-color: rgb(139, 204, 204);
    border-style:outset;
    
    
}
    
#navbar li a { 

    font-family: Cardo-bold;
    font-size: 300px;
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 3.5rem;
    font-weight: 1000;
    color: #ffffff;
   
   
        
        
        
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Add space between name and links */
    align-items: center;
    border-bottom: 5px solid black;
    margin: 0;
    margin-bottom: 100px;
    
}
    


.flexbox-container {
    margin-top: 100;
}

body{
    margin:0;
}
